{# {% include "admin\adminHome.html.twig" %} #}
{% trans_default_domain('budgetmanager') %}

<div class="row mb-4">
    <div class="col-6 alert-info ">
        <span class="display-6">Nbr de Compte : </span>
        <span class="display-6"> 16 </span>
    </div>
    <div class="col-6 alert-success">
        <span class="display-6 ">Nbr de comptes Epargnes : </span>
        <span class="display-6"> 7</span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-6 alert-success">
        <span class="display-6">C.Epargnes : </span>
        <span class="display-6">3 </span>
    </div>
    <div class="col-6 alert-success">
        <span class="display-6">C. Assurance Vie : </span>
        <span class="display-6">2 </span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 alert-warning ">
        <span class="display-6">Nbr Banque : </span>
        <span class="display-6"> 3 </span>
    </div>
</div>
<div class="row">
    <div class="col-6 alert-info ">
        <span class="display-6"> Solde compte Courant : </span>
        <span class="display-3">3600</span>
        <span class="display-4"> € </span>
    </div>
    <div class="col-6 alert-success">
        <span class="display-6"> Solde comptes épargne : </span>
        <span class="display-3">2300</span>
        <span class="display-4"> € </span>
    </div>
</div>


<script>
    $(document).ready(function(){

    });
</script>
